<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <div class="footer-logo">
          <a routerLink="/" [attr.aria-label]="'Ir para página inicial'">
            <img src="/images/logo-tech-cinza.png" alt="Biss Solutions">
          </a>
        </div>
        <div class="footer-info">
          <p><i class="ri-map-pin-line"></i> Rua Avanhandava, 459 - Cj 512<br>São Paulo - SP</p>
          <p><i class="ri-phone-line"></i> +55 11 9573-9399</p>
          <p><i class="ri-mail-line"></i> contato@biss.com.br</p>
          <p><i class="ri-time-line"></i> Seg-Sex 10:00-20:00</p>
        </div>
      </div>
      <div class="footer-section">
        <h3>Links Rápidos</h3>
        <app-menu
          [style]="'footer'"
          (menuItemClick)="onMenuItemClick($event)"
        ></app-menu>
      </div>
      <div class="footer-section">
        <h3>Redes Sociais</h3>
        <app-social class="social-links-footer"></app-social>
        <div class="footer-links">
          <a routerLink="/sobre">Sobre o Site</a>&nbsp;
          <a routerLink="/privacy">Política de Privacidade</a>&nbsp;
          <a routerLink="/terms">Termos de Uso</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p>&copy; 2025 Biss Solutions. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
