<header class="header">
  <div class="container">
    <div class="header-content">
      <a routerLink="/" class="logo">
        <img src="/images/logo-tech-azul.png" alt="Biss Solutions" class="logo-image">
      </a>

      <!-- Menu de navegação desktop -->
      <nav class="desktop-nav">
        <ul class="nav-menu">
          <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
          <li><a routerLink="/company" routerLinkActive="active">Empresa</a></li>
          <li><a routerLink="/services" routerLinkActive="active">Serviços</a></li>
          <li><a routerLink="/products" routerLinkActive="active">Produtos</a></li>
          <li><a routerLink="/clients" routerLinkActive="active">Clientes</a></li>
          <li><a routerLink="/about" routerLinkActive="active">Sobre o Site</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Contato</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
