<div class="toaster-container" *ngIf="messages.length > 0">
  <div
    *ngFor="let message of messages"
    class="toast-message"
    [ngClass]="message.type"
  >
    <div class="toast-icon">
      <i *ngIf="message.type === 'success'" class="ri-check-line"></i>
      <i *ngIf="message.type === 'error'" class="ri-error-warning-line"></i>
      <i *ngIf="message.type === 'warning'" class="ri-alert-line"></i>
      <i *ngIf="message.type === 'info'" class="ri-information-line"></i>
    </div>
    <div class="toast-content">
      <p class="toast-text">{{ message.message }}</p>
    </div>
    <button class="toast-close" (click)="removeMessage(message.id)">
      <i class="ri-close-line"></i>
    </button>
  </div>
</div>
