<nav class="bottom-navigation">
  <div class="nav-container">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
      <i class="ri-home-line icon-md"></i>
      <span>Home</span>
    </a>
    <a routerLink="/company" routerLinkActive="active" class="nav-item">
      <i class="ri-building-line icon-md"></i>
      <span>Empresa</span>
    </a>
    <a routerLink="/clients" routerLinkActive="active" class="nav-item">
      <i class="ri-group-line icon-md"></i>
      <span>Clientes</span>
    </a>
    <a routerLink="/products" routerLinkActive="active" class="nav-item">
      <i class="ri-shopping-bag-line icon-md"></i>
      <span>Produtos</span>
    </a>
    <a routerLink="/services" routerLinkActive="active" class="nav-item">
      <i class="ri-settings-line icon-md"></i>
      <span>Serviços</span>
    </a>
    <a routerLink="/contact" routerLinkActive="active" class="nav-item">
      <i class="ri-phone-line icon-md"></i>
      <span>Contato</span>
    </a>
  </div>
</nav>
